* {
    margin: 0px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{text-decoration: none;}
[v-cloak] {
    display: none;
}
.news .bg{position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: url(https://ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/super/crop=284,31,871,544/sign=12d68ce20c087bf469a30da9cfe16f18/48540923dd54564e9d1b5790bdde9c82d1584f18.jpg) center center no-repeat;
    background-size: cover;}
.news .all{
    max-width: 588px;margin:125px auto;position: relative;z-index: 22;background: rgba(255,255,255,.4);padding:25px;
}
.news .all li{border-top: solid 1px rgba(255,255,255,.4)}
.news .all li .tp1 .title,.news .all li .tp2 .title {padding:20px 0 12px;}
.news .all li .tp1 .title a,.news .all li .tp2 .title a{font-size: 18px;font-weight: bold;line-height: 20px;height:20px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;color: #333;display: block}

.news .all li .title  a:hover{color: #0077ff}
.news .all li .imgs{height: 119px;display: flex;}
.news .all li .imgs a{display: block;height: 119px;width: 33.33%;}
.news .all li .imgs a img{width: 100%;height: 100%;object-fit: cover;}


.news .all li .fromtime{line-height: 15px;font-size: 13px;padding:16px 0 19px;display: flex;align-items: center;}
.news .all li .fromtime span{margin-right: 6px;color: rgba(0,0,0,0.4);}

.news .all li .tp2 .title{padding-bottom: 0}
.news .all li .tp3{display: flex;}
.news .all li .tp3 .imgs{width: 179px;padding:20px 0;height: 159px;flex-shrink: 0}
.news .all li .tp3 .imgs a{width: 100%}
.news .all li .tp3 .texts{flex-grow: 1;padding-left: 20px;display: flex;justify-content: center;flex-direction: column;}
.news .all li .tp3 .texts .title a{color: #333;font-size: 18px;font-weight: bold;line-height: 20px;}



@media screen and (max-width: 768px) {
    .news .all li .tp1 .imgs a{padding-bottom: 22%;position: relative;height: 0}
    .news .all li .tp1 .imgs a img{position: absolute;top: 0}
    .news .all li .tp1 .imgs{height: auto;}
    .news .all li .tp3 .imgs{width: 33.33%}
    .news .all li .tp3 .imgs a{position: relative;padding-bottom: 66.66%;height: 0}
    .news .all li .tp3 .imgs a img{position: absolute;top: 0}

}
/*对阿道夫*/